@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Roboto", sans-serif;
  background-color: $main-bg;
  color: $main-color;

  @include sm {
    width: 120%;
  }
}

.container {
  display: flex;
}

.menuContainer {
  max-width: 200px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
